In [2]:
import lib.postgres_conn as postgres_conn
import pandas as pd

In [3]:
%%time
with postgres_conn.get_con() as conn:
    MB_recording = pd.read_sql('select gid, name from recording', con=conn)
MB_recording.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

CPU times: user 11.5 s, sys: 4.01 s, total: 15.5 s
Wall time: 25.5 s

                                    gid                     name
0  0f42ab32-22cd-4dcf-927b-a8d9a183d68b           Travelling Man
1  4dce8f93-45ee-4573-8558-8cd321256233                  Live Up
2  48fabe3f-0fbd-4145-a917-83d164d6386f                  Radiate
3  b30b9943-9100-4d84-9ad2-69859ea88fbb            Five Man Army
4  b55f1db3-c6d2-4645-b908-03e1017a99c2  Kalighata (Rain Clouds)

In [4]:
%%time
with postgres_conn.get_con() as conn:
    MB_artists = pd.read_sql('select gid, name from artist', con=conn)

MB_artists.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

CPU times: user 948 ms, sys: 130 ms, total: 1.08 s
Wall time: 1.97 s

                                    gid             name
0  fadeb38c-833f-40bc-9d8c-a6383b38b1be    Доктор Сатана
1  49add228-eac5-4de8-836c-d75cde7369c3      Pete Moutso
2  c112a400-af49-4665-8bba-741531d962a1          Zachary
3  ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b  The Silhouettes
4  7b4a548e-a01a-49b7-82e7-b49efeb9732c     Aric Leavitt

In [5]:
# fetch recording_gid_redirect

with postgres_conn.get_con() as conn:
    MB_redirects = pd.read_sql('select r.gid AS new, rgr.gid AS old from recording r join recording_gid_redirect rgr on rgr.new_id = r.id;', con=conn)

MB_redirects.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    new                                   old
0  654c093a-df03-407d-86f0-e43602c9abde  7d41ae55-6c91-41ec-ad7a-4bc419ac3d01
1  9988c354-37ad-4325-bbeb-2a84c3e9f7de  f941f456-33ba-4f58-8584-07475981fc0b
2  3fe033bd-f856-448d-a0dc-cdbf84bcc04d  bf1c5a09-32b9-4e2c-be0f-0cc4b22515ad
3  0da199d2-77ca-4860-9a4b-64c891c156a9  c0c44b66-08e8-4a2f-9bfc-1005407bce8d
4  0da199d2-77ca-4860-9a4b-64c891c156a9  3bdd8af8-ace6-4990-96ba-f61789afd4f6

In [14]:
# fetch canonical_recording table
with postgres_conn.get_con() as conn:
    MB_canonical = pd.read_sql('select recording_mbid as old, canonical_recording_mbid as new from mapping.canonical_recording_redirect', con=conn)

MB_canonical.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    old                                   new
0  6ac02452-ee12-4f86-b389-bd20ba2fefcf  3e8eebfd-7613-4b3d-acbe-41709be76618
1  b4c26989-1b9e-4d50-8cde-56d6472e4bc3  3e8eebfd-7613-4b3d-acbe-41709be76618
2  601e1cf3-ad6c-4e38-9128-ba4d0d4b010f  b1050d12-b8af-409c-9cff-22759d93e240
3  35c4d840-e51f-4c07-9418-af9335b29642  f4680747-bf28-417a-ab33-af00577d8ac2
4  9ba7a9b9-a21c-4b12-8771-4c108b08b3e2  13b3875a-c89a-4be5-a6e4-0ca9164bc41d

In [7]:
# fetch artist_gid_redirect table

with postgres_conn.get_con() as conn:
    MB_artist_redirects = pd.read_sql('select a.gid AS new, agr.gid AS old from artist a join artist_gid_redirect agr on agr.new_id = a.id', con=conn)

# MB_artist_redirects.set_index('old', inplace=True)
MB_artist_redirects.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    new                                   old
0  ad8260b2-2767-4e9b-9ece-7977fbcedadf  224efe8c-c070-4e8a-9402-d41d52f5b4f1
1  c8f70fe2-a3fb-48cd-af02-ce5df49a7875  549de92e-a454-47f3-a26f-900985cf4431
2  21074eb7-3849-4d0e-bd4d-5447ff175c45  aca98fdf-f1b5-4831-8d58-ab2541c63863
3  21074eb7-3849-4d0e-bd4d-5447ff175c45  d442c9b0-2052-4fda-ad7b-e254d70cd61e
4  21074eb7-3849-4d0e-bd4d-5447ff175c45  33da8f6e-4c9c-4a54-903a-d10788ceea77

# Loading MLHD files

In [8]:
%%time
# Loading files using the new load library!

import lib.load as load
df = load.read_files('random_file_paths.txt')
df

CPU times: user 9.79 s, sys: 38.2 ms, total: 9.83 s
Wall time: 9.84 s

,timestamp,artist-MBID,release-MBID,recording-MBID
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,426c5c82-4472-4f7d-b1d9-9f928d338340,1deb956c-5439-4fbb-b026-5adb4330a934
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,6079df6b-2c00-4fd6-b015-0e303eedf4fd,14e9eb4e-155d-46ff-9a83-a8d5e1936c81
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,e427c52c-60f4-3df4-9493-2df0734d85aa,eced9a9b-cd59-40f8-a580-f27094bd8a89
3,1108428897,ce58d854-7430-4231-aa44-97f0144b3372,e427c52c-60f4-3df4-9493-2df0734d85aa,eced9a9b-cd59-40f8-a580-f27094bd8a89
4,1108429140,ce58d854-7430-4231-aa44-97f0144b3372,e427c52c-60f4-3df4-9493-2df0734d85aa,eced9a9b-cd59-40f8-a580-f27094bd8a89
...,...,...,...,...
21129,1357225057,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,4933dcd1-ec5e-4976-a2c0-f103150b5bc4
21130,1357225263,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,eeef1faa-8c26-4942-a0cc-5db530323121
21131,1357225477,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,83fc6525-6afb-4b70-9c02-45fbfb03dd1a
21132,1357225778,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,972df400-4a04-45b4-a4f7-39892da628b7
21134,1357226253,148d7e7c-3557-4738-b594-8fef13fd7668,NaN,81c31179-2457-4036-97d6-5e0cacd191f4

# Checking if recording-MBIDs have different artist-MBIDs.

In [9]:
%%time
# df2 = df with unique MBIDs and artist MBIDs. dropping rows with missing artist-MBIDs

df2 = df[-df['artist-MBID'].isna()][['timestamp', 'artist-MBID', 'recording-MBID']].drop_duplicates(['artist-MBID', 'recording-MBID'])
df2

CPU times: user 1.14 s, sys: 0 ns, total: 1.14 s
Wall time: 1.14 s

,timestamp,artist-MBID,recording-MBID
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,eced9a9b-cd59-40f8-a580-f27094bd8a89
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,0a8e9fce-b54c-45dd-8081-4aaa654ef4ec
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f
...,...,...,...
21031,1346409472,32f59126-2a1c-47c5-9076-64826c83a393,11c72720-977a-4cdb-ae6f-16d921023289
21032,1346409883,32f59126-2a1c-47c5-9076-64826c83a393,065212d3-88db-480c-bee2-05dc2653928c
21036,1346500026,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8,35092b28-1349-4c9a-9539-26d82e58f57d
21094,1350727034,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5,9e952c1c-7748-4899-bf1a-8ebe7b9f97b0
21097,1353423330,2944824d-4c26-476f-a981-be849081942f,a6eb7554-5255-4221-8223-69ff4763b9dd

In [10]:
# # Groupby the table based on recording-MBID and count the number of artists per recording-MBID.
# # Then filter out the rows with less than 2 artists.

# mbid_w_dif_artists = df2.groupby('recording-MBID').count()[df2.groupby('recording-MBID').count()['artist-MBID']>1].index

# #Exporting
# df2[df2['recording-MBID'].isin(mbid_w_dif_artists)].sort_values('recording-MBID').to_csv('unk_ids/recording-MBIDs with more than 1 artist.txt', index=False)
# df2[df2['recording-MBID'].isin(mbid_w_dif_artists)].sort_values('recording-MBID')

In [11]:
# num_unique_rows = len(df2['recording-MBID'].unique())

# print("Total Number of unique_rows: {}".format(num_unique_rows))
# print("Number of rec-MBIDs with more than 1 artist: {}".format(mbid_w_dif_artists.shape[0]))
# print("% of unique_rows with more than 1 artist: {}".format(round((mbid_w_dif_artists.shape[0]/num_unique_rows)*100, 4)))

# Fetching names for recording-MBIDs

## Cleaning recording-MBIDs

In [12]:
%%time
rec_replacements = MB_redirects[MB_redirects.old.isin(df2['recording-MBID'].unique())]

rec_replacements.set_index('old', inplace=True)
rec_replacements

CPU times: user 1.16 s, sys: 0 ns, total: 1.16 s
Wall time: 1.15 s

                                                                       new
old
515b6704-7f27-4f68-8178-e47dba817c75  bb6cff8b-14fa-45e1-9dda-b75e207a5d9b
0c839bfd-ff06-4a40-98b6-44dea79b44a2  b3534baa-ee23-4137-80dc-4e6a322b3912
016ba816-b367-4139-a989-4a079f0bc769  6cc49e33-859e-4581-8de1-f1dce451cbe9
013de379-715c-4200-be61-d4bcc03388dd  4d1a62aa-533c-43d4-9d02-48027b5a91ee
528b36c2-422a-45d5-9e09-e7be01a2b274  dfeeb1f4-d6f2-4185-9f33-2cfb3288dbb4
...                                                                    ...
76354661-8866-4f76-9985-22dae6338d64  d51cd048-e1c0-461f-b571-96f23a243138
0b72ad5a-361a-469c-80b1-4af92ae47807  1d9c84c9-1003-472e-8482-8235a17a6031
5ac7add0-7dc3-45be-b3ea-662617ed9ecc  da127a71-84d0-4e91-8bc1-84a0696b6bd9
00d9a319-40eb-4ad9-92f0-7f4a28c2c9f9  da127a71-84d0-4e91-8bc1-84a0696b6bd9
5caf0051-97bc-4ee4-8f97-059ce5bed798  9c5a4256-0315-40f5-b243-31b25fc5a4eb

[83537 rows x 1 columns]

In [13]:
%%time

# Replacing rec-MBIDs with redirects in df2
# Note: actual recording-MBID column is overridden by the redirects
df2['recording-MBID'] = (df2['recording-MBID'].map(lambda x: rec_replacements.at[x, 'new'] if x in rec_replacements.index else x))

CPU times: user 611 ms, sys: 0 ns, total: 611 ms
Wall time: 609 ms

## Replacing non-canonical recording-MBIDs

In [18]:
# Fetching all replacements

canonical_replacements = MB_canonical[MB_canonical.old.isin(df2['recording-MBID'].unique())]
canonical_replacements.set_index('old', inplace=True)
canonical_replacements

                                                                       new
old
b6293447-05bf-4123-bfe5-099754348bbf  1bfc064e-fcd0-406b-98ca-1ec69f72fef6
0e08725c-cd2f-4ca1-b195-4e69bacc67a1  2a3ef63f-1c38-4c52-ad64-7c1d51175f73
edf08c86-263a-48c9-aefb-a77c77880197  c671a7e3-dd6e-4d38-a96d-f30bcafe7dd5
634eee8c-74a5-4d6c-879e-b0b8aebd699c  9e599661-19a1-4941-958b-5d66e0da5c79
4aee55b3-c060-45cd-88c5-8850284df5ea  541edf73-92d8-41ea-8b55-53077cffda9d
...                                                                    ...
7187a276-bde8-4587-9a35-8f13ada3f7e3  774f6b7b-d00b-4898-9e8d-b3e02bdc261e
52cd72f9-9aaf-4129-8a08-a5d81113c021  0f8c3491-3ebf-4b62-a176-7f147032043b
be4ccc32-2c11-4712-88de-45f933469071  4aedceb3-34da-47ab-bb63-248a2befd4cd
dbb28bcf-beb0-4b15-ba5e-bbbcd1d54912  15a721c5-52de-49ac-b51c-7f773aa723f2
177da4f1-084f-4cbe-a2cf-fb3260bb9da8  c140c9d4-4317-42b6-a889-90f6ef9b9eed

[100190 rows x 1 columns]

In [19]:
# Replacing recording-MBIDs with their canonical counterparts.

df2['recording-MBID'] = df2['recording-MBID'].map(lambda id: canonical_replacements.at[id, 'new'] if id in canonical_replacements.index else id)

,self,other
1,b0e80c50-6bca-415c-9515-1b4983329b80,14e9eb4e-155d-46ff-9a83-a8d5e1936c81
6,a2a800b4-4969-4bc6-88e9-6928b973890c,06a5b648-0950-4892-a975-715291a5de6f
8,5ae06fb2-05a7-447f-94cd-0e26693f87b0,5ef2533b-f50d-426d-829a-93186ff83536
15,09bcd96c-75b5-4225-8b21-29ad3e5516e0,04254aed-0a53-48c0-a6bf-294df498fadd
16,df560f3e-800a-47da-aa8c-7096b476c765,082b3e13-99b8-4331-8df1-9f832157a99a
...,...,...
21030,e2cbcfa9-47b9-49eb-b6da-91265267506f,5b376694-28ec-4fa8-9b2d-9213be75f33d
21031,4c52692f-eebc-4d00-9d5a-bc69c4eafbfe,11c72720-977a-4cdb-ae6f-16d921023289
21032,59b1aade-c2d4-45c5-97ee-2dc34718872b,065212d3-88db-480c-bee2-05dc2653928c
21094,97edfbd9-0b5f-4f8f-b76c-1c23f0d1089c,9e952c1c-7748-4899-bf1a-8ebe7b9f97b0
21097,bc0e9d24-8b23-41ca-a389-3196e071c56e,a6eb7554-5255-4221-8223-69ff4763b9dd

## Fetching recording_names

In [38]:
%time

# Fetching recording name from MB_recording.
rec_names = MB_recording[MB_recording.gid.isin(df2['recording-MBID'].unique())]
rec_names

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 9.54 µs

                                           gid                        name
6         032c4ce0-b1fd-442d-8bf1-b7777e4832e7                    One Love
9         40dd862a-2dd8-40cf-94e4-3ecdda092d1c                    Twilight
20        8ea0b917-d42a-460a-b624-41b4b80e21ad          Happy and Bleeding
21        0bf3d0b7-c05b-49cb-b54f-da0972f92617                         Joe
22        2778465f-2fb6-45cd-9e17-663a41e382df             Plants and Rags
...                                        ...                         ...
27245487  bfbac2b9-679d-4a6b-9acd-36b97e0b5a0c      Fire (Sunrise version)
27245490  2efa4e28-6405-4b9f-b794-543ede42edbf                   Crazy Man
27245898  fd300e34-cf8a-40e2-8f6c-f0e6a442c8ea                     Wake Up
27246092  b49b085b-5fe8-4086-85dd-e53f2daf1105  L.S.D. (Oliver Lieb remix)
27246107  214e0027-9477-45b2-8504-8d6f93d573c0                The Escapist

[365589 rows x 2 columns]

In [39]:
%%time
df2_rec_name = df2.join(rec_names.set_index('gid'), on='recording-MBID')
df2_rec_name.rename({'name': 'MLHD_rec_name'}, inplace=True, axis=1)

df2_rec_name.MLHD_rec_name.isna().value_counts()

CPU times: user 452 ms, sys: 2.35 ms, total: 454 ms
Wall time: 451 ms

False    374902
True       1135
Name: MLHD_rec_name, dtype: int64

In [40]:
df2_rec_name.head()

,timestamp,artist-MBID,recording-MBID,MLHD_rec_name
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934,Anywhere
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81,Lady Lady
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,6ae8e64a-d208-4f4e-8d88-155ed0568344,Building a Mystery
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,da1308d1-6037-4ba1-b6fc-a643a4201140,Hallelujah
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f,Penny & Me

## Cleaning up artist_mbid with redirects.

In [41]:
# Fetching replacements
# df2['recording-MBID'] = (df2['recording-MBID'].map(lambda x: rec_replacements.at[x, 'new'] if x in rec_replacements.index else x))

artist_replacements = MB_artist_redirects[MB_artist_redirects.old.isin(df2_rec_name['artist-MBID'].unique())]
artist_replacements.set_index('old', inplace=True)
artist_replacements

                                                                       new
old
05d7cb34-92ef-4cba-9935-f76034b7408e  4cfe7051-f649-4d07-83b3-7a732abe7249
2f04b61d-188f-44fb-9bc6-d77caa1ac056  a3546087-fe59-47d3-a3a8-42d58e2573c7
21c9a672-748c-4a16-9763-5c8303a7a583  eea8a864-fcda-4602-9569-38ab446decd6
08d08265-b38b-468b-98a8-f5a4f76fc3fa  ac0aa7e2-cb46-4e01-a8e5-d265548411c2
9b49527c-0a10-4699-8d65-51adb8ac9e41  cafba612-fca3-4bac-b235-35ab7dbff2bb
...                                                                    ...
5cd2823c-a801-4053-8bd4-a76a572d65cc  41e707cf-bfcc-46e6-bada-6b62167c7561
d04b8aea-b7fd-424d-9bc3-fd66f36d292c  5a50b6cf-4353-4ee9-b478-bd857f9ddccb
6fd490f7-e898-40d1-a1ce-f1f427322e4a  5006bab5-0fbd-43fc-9c19-5536e3674982
03163617-c888-47d2-bcb0-c163c13a5925  da0f4c49-66c8-4ff0-9bef-7946b73fa97b
704acdbb-1415-4782-b0b6-0596b8c55e46  49de2e79-ccfa-42d2-8e09-cb6b30ad9d37

[2453 rows x 1 columns]

In [42]:
# Fetching replacement artist MBIDs
# NOTE This process overwrites existing MBIDs.

df2_rec_name['artist-MBID'] = df2_rec_name['artist-MBID'].map(lambda id: artist_replacements.at[id, 'new'] if id in artist_replacements.index else id)

## Fetching artist_names for cleaned MBIDs

In [43]:
# Fetching artist name from MB_artists

artist_names = MB_artists[MB_artists.gid.isin(df2_rec_name['artist-MBID'].unique())]
artist_names

                                          gid                   name
12       4c4b7c6f-9285-4d6a-bc10-e5c9e08045f8  wecamewithbrokenteeth
40       1c2d8a03-9a9f-4424-be44-61fd5634ea1d          We Barbarians
43       a9cb07e3-d55d-403e-8ab7-9a277061b782                 Softys
88       4ff7e65a-63bc-403a-a941-24e5d0edd9a8          Nico ALLSTARS
97       d78c7719-af77-4fd9-baa0-0d08c86858dc                Fantcha
...                                       ...                    ...
1997810  4dc9bf25-70a6-4c3e-a3cc-35009f35380b               Operatic
1997895  020457e5-7323-429e-9bae-94c7fd8909d8                    陳冠希
1997966  13e7b7a6-ac07-416d-89bf-6b97f7a5ebad              Noordkaap
1998067  d29c3f94-55cc-414a-8cf2-6126e26e5a24          Mystic Circle
1998344  7ca2a18c-8045-463d-8b46-77f9ce4aab6a                  Si*Sé

[33161 rows x 2 columns]

In [44]:
# Making a new table with artist names joined.

df2_rec_artist_name = df2_rec_name.join(artist_names.set_index('gid'), on='artist-MBID')
df2_rec_artist_name.rename({'name': 'MLHD_artist_name'}, inplace=True, axis=1)

df2_rec_artist_name

,timestamp,artist-MBID,recording-MBID,MLHD_rec_name,MLHD_artist_name
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934,Anywhere,Evanescence
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81,Lady Lady,Mark Joseph
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,6ae8e64a-d208-4f4e-8d88-155ed0568344,Building a Mystery,Sarah McLachlan
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,da1308d1-6037-4ba1-b6fc-a643a4201140,Hallelujah,Jeff Buckley
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f,Penny & Me,Hanson
...,...,...,...,...,...
21031,1346409472,5e372a49-5672-4fb8-ba14-18c90780c4f9,11c72720-977a-4cdb-ae6f-16d921023289,The Waves Crashing Silently Through the Domina...,Calexico
21032,1346409883,5e372a49-5672-4fb8-ba14-18c90780c4f9,065212d3-88db-480c-bee2-05dc2653928c,Fine Patina,Calexico
21036,1346500026,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8,f9f2601a-298a-4cfd-9b8a-b9e1c8118d5f,Somebody to Love,Jim Carrey
21094,1350727034,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5,9e952c1c-7748-4899-bf1a-8ebe7b9f97b0,You’re Pretty Good Looking,The White Stripes
21097,1353423330,2944824d-4c26-476f-a981-be849081942f,a6eb7554-5255-4221-8223-69ff4763b9dd,Sinnerman,Nina Simone

In [45]:
df2_rec_artist_name.MLHD_artist_name.isna().value_counts()

False    375398
True        639
Name: MLHD_artist_name, dtype: int64

# Fetching looked-up artist_credit lists respective to recording-MBIDs

In [46]:
query_artist_list = "select recording.gid as rec_gid, array_agg(artist.gid) as artist_credit_list from recording join artist_credit ac on ac.id=artist_credit join artist_credit_name acn on acn.artist_credit=ac.id join artist on artist.id = acn.artist where recording.gid in {} group by recording.gid;".format(tuple(df2_rec_artist_name['recording-MBID'].unique()))

with postgres_conn.get_con() as conn:
    df_artist_list = pd.read_sql(query_artist_list, con=conn)

df_artist_list.artist_credit_list = df_artist_list.artist_credit_list.apply(lambda x: x.strip('{}'))
df_artist_list

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,rec_gid,artist_credit_list
0,0000167c-95f5-48eb-b15f-04790e09a765,076b616f-399d-41d6-881e-fcb47505912b
1,00007960-9d81-4192-b548-ad33d6b0ca54,5f572b31-8fd9-45ae-9beb-358c98d839df
2,0000b154-24c1-4b1d-9931-a11199f0d50d,34c63966-445c-4613-afe1-4f0e1e53ae9a
3,0000d6b8-b1c1-49b7-a5ba-e44968689dc6,e393cebb-e9cb-43ec-bfbc-f666d8b0d8d0
4,0001093f-3ca1-42c8-bcc7-8fbbcd2f7c72,190e78ac-8f44-4bf1-a4ff-95ed9376ad9e
...,...,...
365584,fffe757f-5e1c-4de3-b3af-32589fe1772c,cb69e1f1-bc76-4df5-93c9-cf97dd8a3b5c
365585,fffebeeb-9466-4b60-8f58-74f841d19d8c,2c4a0a7c-9826-457d-98d7-39ecaa6aac62
365586,ffff19ee-c08d-4a3e-8812-2045745a8aa7,2d5347a5-ba26-4116-a8e2-c67c61923538
365587,ffff8b6f-bbbd-46d8-ba2c-23bef8e15db0,2dc758d7-6776-45d1-b537-484249bd265e
365588,ffffbf08-0c7a-4b07-98aa-4366a190fe8e,8df4098f-2386-4133-be1a-6c1163bdd10e

In [47]:
df2_artist_rec_names_artist_list = df2_rec_artist_name.join(df_artist_list.set_index('rec_gid'), on='recording-MBID')

df2_artist_rec_names_artist_list.to_csv('unk_ids/df2_artist_rec_names_artist_list.txt', index=False)
df2_artist_rec_names_artist_list

,timestamp,artist-MBID,recording-MBID,MLHD_rec_name,MLHD_artist_name,artist_credit_list
0,1108412731,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9,1deb956c-5439-4fbb-b026-5adb4330a934,Anywhere,Evanescence,f4a31f0a-51dd-4fa7-986d-3095c40c5ed9
1,1108422818,db999c3f-f243-4a5f-88d6-0c25243b6661,14e9eb4e-155d-46ff-9a83-a8d5e1936c81,Lady Lady,Mark Joseph,db999c3f-f243-4a5f-88d6-0c25243b6661
2,1108423325,ce58d854-7430-4231-aa44-97f0144b3372,6ae8e64a-d208-4f4e-8d88-155ed0568344,Building a Mystery,Sarah McLachlan,ce58d854-7430-4231-aa44-97f0144b3372
5,1108594566,e6e879c0-3d56-4f12-b3c5-3ce459661a8e,da1308d1-6037-4ba1-b6fc-a643a4201140,Hallelujah,Jeff Buckley,e6e879c0-3d56-4f12-b3c5-3ce459661a8e
6,1108679759,3c0a0074-4f26-4d3b-b723-a66bf6cc3753,06a5b648-0950-4892-a975-715291a5de6f,Penny & Me,Hanson,3c0a0074-4f26-4d3b-b723-a66bf6cc3753
...,...,...,...,...,...,...
21031,1346409472,5e372a49-5672-4fb8-ba14-18c90780c4f9,11c72720-977a-4cdb-ae6f-16d921023289,The Waves Crashing Silently Through the Domina...,Calexico,5e372a49-5672-4fb8-ba14-18c90780c4f9
21032,1346409883,5e372a49-5672-4fb8-ba14-18c90780c4f9,065212d3-88db-480c-bee2-05dc2653928c,Fine Patina,Calexico,5e372a49-5672-4fb8-ba14-18c90780c4f9
21036,1346500026,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8,f9f2601a-298a-4cfd-9b8a-b9e1c8118d5f,Somebody to Love,Jim Carrey,f7e7acc2-b61c-4e8c-80fd-ab354bf856e8
21094,1350727034,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5,9e952c1c-7748-4899-bf1a-8ebe7b9f97b0,You’re Pretty Good Looking,The White Stripes,11ae9fbb-f3d7-4a47-936f-4c0a04d3b3b5
21097,1353423330,2944824d-4c26-476f-a981-be849081942f,a6eb7554-5255-4221-8223-69ff4763b9dd,Sinnerman,Nina Simone,2944824d-4c26-476f-a981-be849081942f

In [48]:
print("% artist_name not null: {}".format(df2_artist_rec_names_artist_list.MLHD_artist_name.notna().sum() / df2_artist_rec_names_artist_list.shape[0] * 100))
print("% rec_name not null: {}".format(df2_artist_rec_names_artist_list.MLHD_rec_name.notna().sum() / df2_artist_rec_names_artist_list.shape[0] * 100))
print("% artist_credit_list not null: {}".format(df2_artist_rec_names_artist_list.artist_credit_list.notna().sum() / df2_artist_rec_names_artist_list.shape[0] * 100))

% artist_name not null: 99.83006991333299
% rec_name not null: 99.69816799942559
% artist_credit_list not null: 99.69816799942559

# Analyzing MLHD data w/ MB data

In [49]:
%%time
# Checking if artist-MBID is in artist_credit_list

input_existance = df2_artist_rec_names_artist_list[['artist-MBID', 'artist_credit_list']].dropna()
existance_test = lambda row: (row['artist-MBID']) in (row['artist_credit_list'])

# Applying test on each artist-MBID for a boolean map of input.

existance_map = input_existance.apply(existance_test, axis=1)

print(f"% inaccurate artist-MBIDs: {(existance_map.value_counts()[0] / existance_map.value_counts().sum())*100:.2f}%")

% inaccurate artist-MBIDs: 9.17%
CPU times: user 3.49 s, sys: 0 ns, total: 3.49 s
Wall time: 3.49 s

In [50]:
incorrect_artist_mbid = df2_artist_rec_names_artist_list.dropna(subset=['artist-MBID', 'artist_credit_list'])[-existance_map]
incorrect_artist_mbid

,timestamp,artist-MBID,recording-MBID,MLHD_rec_name,MLHD_artist_name,artist_credit_list
21,1109798023,24b4aee8-32ed-4163-98f7-55bae67411ae,560062d0-e122-46be-9d89-0f3b44077fdf,Mr. Brightside,The Killers,95e1ead9-4d31-4808-a7ac-32c3614c116b
25,1109802260,24b4aee8-32ed-4163-98f7-55bae67411ae,45024040-a343-4141-9bc9-27ef0cc9163d,Somebody Told Me,The Killers,95e1ead9-4d31-4808-a7ac-32c3614c116b
61,1111012788,a4852e21-7f09-470b-b5ae-9740d939d183,40bd0203-bc3f-4b15-9ab3-ceeb2ef35d7a,Hotel California,The Eagles,f46bd570-5768-462e-b84c-c7c993bbf47e
67,1111013935,9ef1e489-6ad2-4269-8d13-ccabedbfee2f,899cbfc1-8c96-4ed7-8517-dcd0566d05ca,Lonely No More,Rob Thomas,e42680f7-e439-4666-9c2c-536c2b3c6db3
101,1111710768,24b4aee8-32ed-4163-98f7-55bae67411ae,3323f42b-b7e2-4763-82ce-a330e0b59128,All These Things That I've Done,The Killers,95e1ead9-4d31-4808-a7ac-32c3614c116b
...,...,...,...,...,...,...
18346,1285689058,08fc1114-56a8-491a-9cb7-b5ac33b94c02,323f2c3c-05dd-4aae-977b-53f12d4f3102,My Apple Has Four Legs,Feathers,f43044b3-5e5b-4f4f-bc97-0ed869c9b775
18391,1285789417,08fc1114-56a8-491a-9cb7-b5ac33b94c02,4d32ec69-08f5-416a-be57-bbc08069aa2d,Old Black Hat With a Dandelion Flower,Feathers,85f55c37-285c-4b0e-9c5c-ab9e2c4834a1
18739,1287567007,3bccbe10-3478-4f89-8485-3baccc445826,4402423f-a1c8-4847-a35d-14a313b55b50,Devil’s Radio,George Harrison,42a8f507-8412-4611-854f-926571049fa0
19246,1293694689,188ebb26-eacb-4f0b-8916-44d250960774,30890ded-6d36-49d4-957e-5f229be170d1,My World Is Empty Without You,The Supremes,c1aa2ec9-53e7-4d90-8d36-bac75832e986
19427,1297267093,197012ce-dab5-4e5a-b0a9-f4f690b2ade5,7b04eb21-524e-4f05-b974-9c3c0464437a,Neither/Nor,Charles Atlas,da3a71e0-2f6c-4d50-8571-b1ae750bfdc5

In [ ]:
# Exporting incorrect artist MBIDs to CSV.
incorrect_artist_mbid.to_csv('unk_ids/incorrect_artist_mbid.txt', index=False)