In [5]:
import lib.postgres_conn as postgres_conn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Markdown as MD
from IPython.display import display

In [9]:
with postgres_conn.get_con() as conn:
    MB_recording = pd.read_sql('select gid, name from recording', con=conn)
MB_recording.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    gid                     name
0  0f42ab32-22cd-4dcf-927b-a8d9a183d68b           Travelling Man
1  4dce8f93-45ee-4573-8558-8cd321256233                  Live Up
2  48fabe3f-0fbd-4145-a917-83d164d6386f                  Radiate
3  b30b9943-9100-4d84-9ad2-69859ea88fbb            Five Man Army
4  b55f1db3-c6d2-4645-b908-03e1017a99c2  Kalighata (Rain Clouds)

In [8]:
with postgres_conn.get_con() as conn:
    MB_artists = pd.read_sql('select gid, name from artist', con=conn)

MB_artists.head()

/home/snaek/MLHD/env_mlhd/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                                    gid             name
0  fadeb38c-833f-40bc-9d8c-a6383b38b1be    Доктор Сатана
1  49add228-eac5-4de8-836c-d75cde7369c3      Pete Moutso
2  c112a400-af49-4665-8bba-741531d962a1          Zachary
3  ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b  The Silhouettes
4  7b4a548e-a01a-49b7-82e7-b49efeb9732c     Aric Leavitt

In [18]:
# Loading files

import lib.load as load
df = load.gen_and_load(100)
df

,timestamp,artist-MBID,release-MBID,recording-MBID
1,1184477246,a2496a3c-8f42-4b98-b780-6f8d64f56441,e12d6912-2309-4fbc-8d98-9a67c2cca307,b2b5360c-5dff-4d25-9a68-8f098e38838e
2,1184477419,a2496a3c-8f42-4b98-b780-6f8d64f56441,e12d6912-2309-4fbc-8d98-9a67c2cca307,327edaf9-096d-4ba3-96d4-8ad7ca6a0961
3,1184477605,a2496a3c-8f42-4b98-b780-6f8d64f56441,4c7c696b-cc80-40df-a365-6a08cedb0a31,13a3d32d-1c6c-40a9-bff2-cd7944489456
4,1184477761,b755836a-0cb6-4577-a678-55a5a6402d70,0615cf12-505d-4a88-bcaa-2451da7bb28e,3d91cb0f-1abe-4399-903c-59af1885859d
5,1184477883,b755836a-0cb6-4577-a678-55a5a6402d70,0615cf12-505d-4a88-bcaa-2451da7bb28e,4063f313-c4f3-4ab9-b8f4-7a94f037b145
...,...,...,...,...
10446,1365408647,f6f2326f-6b25-4170-b89d-e235b25508e8,2fcf5e17-105b-4852-bfc0-b3496dbb23c0,fc17d900-c655-4776-9ae3-1433f057af4f
10447,1365409735,f6f2326f-6b25-4170-b89d-e235b25508e8,2fcf5e17-105b-4852-bfc0-b3496dbb23c0,0432be40-7dcc-4879-91a9-1c1a93433db3
10448,1365410211,f6f2326f-6b25-4170-b89d-e235b25508e8,2fcf5e17-105b-4852-bfc0-b3496dbb23c0,64cce75e-d84f-49e8-b78b-4d297e498c29
10449,1365410453,f6f2326f-6b25-4170-b89d-e235b25508e8,2fcf5e17-105b-4852-bfc0-b3496dbb23c0,3b2b3e91-f413-4298-8147-75f740421074
10450,1365415517,1c4b9280-7bee-4fdd-8886-daa627d471a0,NaN,444c7ef5-a8fb-4c4a-a3ce-ef393dcc2f83